.navbar {
  background-color: #003366;
  padding: 15px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.nav-links a {
  margin-left: 20px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.nav-links a:hover {
  text-decoration: underline;
}
