.auth-container {
  width: 350px;
  margin: 100px auto;
  text-align: center;
  padding: 25px;
  border: 1px solid #ccc;
  border-radius: 12px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.15);
}

input {
  width: 90%;
  padding: 10px;
}

button {
  width: 95%;
  padding: 12px;
  cursor: pointer;
  background-color: #003366;
  color: white;
  border: none;
  margin-top: 10px;
}

button:hover {
  background-color: #0055aa;
}
